## Heroes of Pymoli

Video Games. Man alive, do I ever love them. Way back in 1993, I actually won the Blockbuster Video Game tournament for Greeley, CO. The games were NBA Jam, Clayfighter 33 and 1/3, and a Ninja Turtles fighting game all for the Super Nintendo. Representing Greeley, I played NBA Jam at Mile High Stadium in the state finals. I got smoked.

Gaming has come a long way since those days. Now it's all about the microtransactions, baby. After analyzing the provided data set for a game called Heroes of Pymoli, I've made a few conclusion and below, if you care to, I've detailed a few of them.

There are 576 total players who have made 780 purchases bringing in $2,379.77 in revenue. A large majority of our players are male, and most of our players are between 20 and 24 years old. Final Critic is both our most popular and profitable item.

All of the code used to analyze the data file is below. 

Long live the Heroes of Pymoli!

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [26]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [27]:
# find the number of unique screen names
total_players = purchase_data['SN'].nunique()

# create dataframe using the total number of players
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [28]:
# calculate number of unique items, average price, number of purchases, and total revenue
unique_items = purchase_data['Item ID'].nunique()
avg_price = purchase_data['Price'].mean()
purchases = purchase_data['Purchase ID'].count()
total_revenue = purchase_data['Price'].sum()

# create and format summary data
summary = pd.DataFrame({'Number of Unique Items':[unique_items], 
                        'Average Price':[avg_price], 
                        'Number of Purchases':[purchases], 
                        'Total Revenue':[total_revenue]})

summary_df = pd.DataFrame(summary)

summary_df['Average Price'] = summary_df['Average Price'].map('${:,.2f}'.format)
summary_df['Total Revenue'] = summary_df['Total Revenue'].map('${:,.2f}'.format)

summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [62]:
# group by gender
gender_data = purchase_data.groupby("Gender")

# count unique screen names by gender
total_gender = gender_data.nunique()['SN']

# calculate gender percentages
pct_gender = total_gender / total_players * 100

# create and format dataframe
gender_demographics = pd.DataFrame({'Percentage of Players': pct_gender, "Total Count": total_gender})
gender_demographics.index.name = None
gender_demographics.sort_values(['Total Count'], ascending = False).style.format({'Percentage of Players':'{:.2f}%'})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [39]:
# purchase count, avg purchase price, total purchase value, avg total purchase per person by gender
purchase_count = gender_data['Purchase ID'].count()
avg_purchase_price = gender_data['Price'].mean()
purchase_value = gender_data['Price'].sum()
avg_purchase_person = purchase_value / total_gender

# create and format dataframe
gender_summary = pd.DataFrame({'Purchase Count': purchase_count,
                                'Average Purchase Price': avg_purchase_price, 
                                'Average Purchase Value': purchase_value, 
                                'Avg Total Purchase per Person': avg_purchase_person})
gender_summary.index.name = 'Gender'
gender_summary.style.format({'Average Purchase Price':'${:,.2f}', 
                             'Average Purchase Value':'${:,.2f}', 
                             'Avg Total Purchase per Person':'${:,.2f}'})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [47]:
# create bins
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
bin_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# categorize using bins
purchase_data['Age Group'] = pd.cut(purchase_data['Age'], age_bins, labels = bin_names)
purchase_data

# calculate number and pct
age_group = purchase_data.groupby('Age Group')
total_age = age_group['SN'].nunique()
pct_age = total_age / total_players * 100

# create and format dataframe
age_demographics = pd.DataFrame({'Total Count': total_age, 'Percentage of Players': pct_age})
age_demographics.index.name = None
age_demographics.style.format({'Percentage of Players':'{:,.2f}%'})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [54]:
# purchase count, avg purchase price, total purchase value, avg total purchase per person
purchase_count_age = age_group['Purchase ID'].count()
avg_purchase_age = age_group['Price'].mean()
purchase_value_age = age_group['Price'].sum()
avg_total_age = purchase_value_age / total_age

# create and format dataframe
age_summary = pd.DataFrame({'Purchase Count': purchase_count_age, 
                            'Average Purchase Price': avg_purchase_age,
                            'Total Purchase Value': purchase_value_age, 
                            'Avg Total Purchase per Person': avg_total_age})
age_summary.index.name='Age Ranges'
age_summary.style.format({'Average Purchase Price':'${:,.2f}',
                          'Total Purchase Value':'${:,.2f}',
                          'Avg Total Purchase per Person':'${:,.2f}'})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [57]:
# purchase count, average purchase price, total purchase value
spender_data = purchase_data.groupby('SN')
count_spender = spender_data['Purchase ID'].count()
price_spender = spender_data['Price'].mean()
value_spender = spender_data['Price'].sum()

# create and format dataframe
spender_summary = pd.DataFrame({'Purchase Count': count_spender,
                                'Average Purchase Price': price_spender,
                                'Total Purchase Value': value_spender})
spender_summary.index.name='SN'
sorted_spender_summary = spender_summary.sort_values(['Total Purchase Value'], ascending=False).head()
sorted_spender_summary.style.format({'Average Purchase Price':'${:,.2f}', 'Total Purchase Value':'${:,.2f}'})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [60]:
# retrieve and group items
items = purchase_data[['Item ID', 'Item Name', 'Price']]
item_data = items.groupby(['Item ID', 'Item Name'])

# calculations
purchase_count_item = item_data['Price'].count()
purchase_value_item = item_data['Price'].sum()
item_price = purchase_value_item / purchase_count_item

# create and format dataframe
item_summary = pd.DataFrame({'Purchase Count': purchase_count_item,
                             'Item Price': item_price, 
                             'Total Purchase Value': purchase_value_item})
sorted_item_summary = item_summary.sort_values(['Purchase Count'], ascending=False).head()
sorted_item_summary.style.format({'Item Price':'${:,.2f}', 'Total Purchase Value':'${:,.2f}'})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [61]:
# sort and format
value_item_summary = item_summary.sort_values(['Total Purchase Value'], ascending=False).head()
value_item_summary.style.format({'Item Price':'${:,.2f}', 'Total Purchase Value':'${:,.2f}'})